/* Reset some default styles */
body, h1, p, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a modern font and center the content */
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('https://unsplash.com/photos/q4TfWtnz_xw/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNzE5MTUwMTQwfA&force=true') no-repeat center center fixed;
    background-size: cover;
}

.container {
    text-align: center;
    background: rgba(96, 88, 88, 0.8);
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(102, 99, 99, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ffffff;
}

.weather-info {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: calc(100% - 22px);
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    border: none;
    background: #007BFF;
    color: white;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #0056b3;
}

#weather-result {
    margin-top: 20px;
    font-size: 1.1em;
    color: #ffffff;
}

#weather-result h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #007BFF;
}

#weather-result p {
    margin-bottom: 5px;
}
